[submodule "pblog"]
	url  = https://gitee.com/chengxuru/pblog
	path = pblog

[submodule "pblog-admin"]
	url  = https://gitee.com/chengxuru/pblog-admin
	path = pblog-admin

[submodule "pblog-web"]
	url  = https://gitee.com/chengxuru/pblog-web
	path = pblog-web

