/* 单行代码样式 */
.markdown-body p code, .markdown-body li code {
  background-color: rgba(219, 215, 215, 0.4);
  font-family: 'Consolas', serif;
  font-weight: bold;
  padding: 0 3px;
  color: #4c4948;
}

.markdown-body p {
  cursor: text;
}

/* 主体代码颜色 */
.v-application code {
  color: #eff;
}

/* 无序列表位置调整 */
.markdown-body ol, .markdown-body ul {
  padding-left: 2em !important;
  cursor: text;
}

.markdown-body li:hover::marker {
    color: #ff7242;
}

.markdown-body li:hover {
  color: #ff7242;
}

.markdown-body li::marker {
  color: #00a1d6;
  font-weight: 600;
  font-size: 1.05em;
}

pre.hljs {
  padding: 2em 0 0 40px !important;
  border-radius: 7px !important;
  position: relative;
  font-size: 17px !important;
  line-height: 24px !important;
  overflow: hidden !important;
  background: #1c1c1c !important;
  //color: rgba(238, 255, 255, 0.8) !important;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
  margin-bottom: 24px;

  &:hover .copy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  code {
    display: block !important;
    margin: 0 0 !important;
    overflow-x: auto !important;
    background-color: #212121 !important;
    padding: 8px 8px 12px 0 !important;

    &::-webkit-scrollbar {
      z-index: 11;
      width: 6px;
    }

    span {
      font-family: "Consolas", serif !important;
    }

    &::-webkit-scrollbar:horizontal {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      width: 6px;
      background: #666;
    }

    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-track {
      background: #1e1e1e;
    }

    &::-webkit-scrollbar-track-piece {
      background: #1e1e1e;
      width: 6px;
    }
  }

  // 行号
  .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 2em;
    //bottom: 0;
    padding: 8px 0 50px 0 !important;
    left: 0;
    font-size: 100%;
    width: 40px;
    text-align: right;
    letter-spacing: -1px;
    //border-right: 1px solid rgba(0, 0, 0, 0.66);
    user-select: none;
    counter-reset: linenumber;
    background-color: #212121 !important;

    span {
      pointer-events: none;
      display: block;
      counter-increment: linenumber;
      font-family: "Consolas", serif !important;


      &:before {
        content: counter(linenumber);
        color: #999;
        display: block;
        text-align: center;
      }
    }
  }

  // 模拟Mac风格的三个点
  &::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 11px;
    overflow: visible;
    width: 12px;
    height: 12px;
    border-radius: 16px;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    background-color: #fc625d;
    white-space: nowrap;
    text-indent: 75px;
    font-size: 16px;
    line-height: 12px;
    font-weight: 700
  }

  // 代码语言
  b.name {
    position: absolute;
    top: 4px;
    left: 76px;
    z-index: 1;
    pointer-events: none;
    // 将语言名称变成大写
    text-transform: uppercase;
    color: rgba(238, 255, 255, 0.8) !important;
  }

  // 复制按钮
  .copy-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1;
    color: #ccc;
    background-color: #525252;
    border-radius: 6px;
    display: none;
    font-size: 16px;
    width: 32px;
    height: 24px;
    outline: none;
  }
}

// 部分关键字颜色自定义  类的颜色
.hljs-class .hljs-title {
  color: #52e3f6;
}
// 参数颜色
.hljs-params {
  color: #f4961e;
}

// 注解的颜色
.hljs-meta {
  color: #d9e577;
}


/*
!*自己设置的highlight高亮主题*!

!*codecopy*!
.codecopy-btn {
    position: absolute;
    transition: all 0.5s;
    top: 10px;
    right: 20px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: rgba(221, 221, 221, .1);
    color: #999;
    text-align: center;
    font-weight: 700;
    font-size: 14px;

}

.codecopy-btn:hover {
    background-color: rgba(221, 221, 221, .2);
    top: 9px
}

!*语法高亮*!
.hljs {
    position: relative;
    display: block;
    overflow-x: hidden;
    background: #21252B;
    color: #f8f8f8;
    padding: 30px 15px 2px 15px;
    box-shadow: 20px 10px 25px 0 rgb(0 0 0 / 40%);
    border-radius: 5px;
    font-family: "Consolas", serif;
    font-size: 18px;
}
pre{
    position: relative;
}


.hljs::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 10px;
    overflow: visible;
    width: 12px;
    height: 12px;
    border-radius: 16px;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    background-color: #fc625d;
    white-space: nowrap;
    text-indent: 75px;
    font-size: 16px;
    line-height: 12px;
    font-weight: 700
}

.hljs-ln {
    display: inline-block;
    overflow-x: auto;
    padding-bottom: 5px
}

.hljs-ln td {
    padding: 0;
    background-color: #21252B
}

.hljs-ln::-webkit-scrollbar {
    height: 10px;
    border-radius: 5px;
    background: #333;
}

.hljs-ln::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 5px;
}

.hljs-ln::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}

.hljs table tbody tr {
    border: none
}

.hljs .hljs-ln-line {
    padding: 1px 10px;
    border: none
}

td.hljs-ln-line.hljs-ln-numbers {
    border-right: 1px solid #666;
}

.hljs-keyword, .hljs-literal, .hljs-symbol, .hljs-name {
    color: #f92672
}

.hljs-link {
    color: #569cd6;
    text-decoration: underline
}

.hljs-built_in, .hljs-type {
    color: #66d9ef
}

.hljs-number, .hljs-class {
    color: #b8d7a3
}

.hljs-string, .hljs-meta-string {
    color: #E6DB74
}

.hljs-regexp, .hljs-template-tag {
    color: #9a5334
}

.hljs-subst, .hljs-function, .hljs-title, .hljs-params, .hljs-formula {
    color: #66d9ef
}

.hljs-comment, .hljs-quote {
    color: #57a64a;
    font-style: italic
}

.hljs-doctag {
    color: #608b4e
}

.hljs-meta, .hljs-meta-keyword, .hljs-tag {
    color: #9b9b9b
}

.hljs-variable, .hljs-template-variable {
    color: #bd63c5
}

.hljs-attr, .hljs-attribute, .hljs-builtin-name {
    color: #9cdcfe
}

.hljs-section {
    color: gold
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

.hljs-bullet, .hljs-selector-tag, .hljs-selector-id, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo {
    color: #d7ba7d
}

.hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%
}

.hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%
}

.hljs.language-html::before, .hljs.language-xml::before {
    content: "HTML/XML"
}

.hljs.language-javascript::before {
    content: "JavaScript"
}

.hljs.language-c::before {
    content: "C"
}

.hljs.language-cpp::before {
    content: "C++"
}

.hljs.language-java::before {
    content: "Java";
    color: #999;
}

.hljs.language-asp::before {
    content: "ASP"
}

.hljs.language-actionscript::before {
    content: "ActionScript/Flash/Flex"
}

.hljs.language-bash::before {
    content: "Bash"
}

.hljs.language-css::before {
    content: "CSS"
}

.hljs.language-asp::before {
    content: "ASP"
}

.hljs.language-cs::before,
.hljs.language-csharp::before {
    content: "C#"
}

.hljs.language-d::before {
    content: "D"
}

.hljs.language-golang::before, .hljs.language-go::before {
    content: "Go"
}

.hljs.language-json::before {
    content: "JSON"
}

.hljs.language-lua::before {
    content: "Lua"
}

.hljs.language-less::before {
    content: "LESS"
}

.hljs.language-md::before,
.hljs.language-markdown::before,
.hljs.language-mkdown::before,
.hljs.language-mkd::before {
    content: "Markdown"
}

.hljs.language-mm::before,
.hljs.language-objc::before,
.hljs.language-obj-c::before,
.hljs.language-objective-c::before {
    content: "Objective-C"
}

.hljs.language-php::before {
    content: "PHP"
}

.hljs.language-perl::before,
.hljs.language-pl::before,
.hljs.language-pm::before {
    content: "Perl"
}

.hljs.language-python::before,
.hljs.language-py::before,
.hljs.language-gyp::before,
.hljs.language-ipython::before {
    content: "Python"
}

.hljs.language-r::before {
    content: "R"
}

.hljs.language-ruby::before,
.hljs.language-rb::before,
.hljs.language-gemspec::before,
.hljs.language-podspec::before,
.hljs.language-thor::before,
.hljs.language-irb::before {
    content: "Ruby"
}

.hljs.language-sql::before {
    content: "SQL"
}

.hljs.language-sh::before,
.hljs.language-shell::before,
.hljs.language-Session::before,
.hljs.language-shellsession::before,
.hljs.language-console::before {
    content: "Shell"
}

.hljs.language-swift::before {
    content: "Swift"
}

.hljs.language-vb::before {
    content: "VB/VBScript"
}

.hljs.language-yaml::before {
    content: "YAML"
}
*/
