@font-face {
    font-family: 'pgz';
    /* 字体名自定义即可 */
    src: url('https://cdn.jsdelivr.net/gh/peiguozhi/BLOG_SOURCE/font/ZhuZiAWan.woff2');
    /* 字体文件路径 */
    font-display: swap;
}
/*@font-face {
    font-family: 'shouxie';
    src: url('站酷快乐体修订版.ttf');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'STXingkai';
    src: url('STXINGKA.TTF');
}*/
