<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rulin.mapper.PhotoMapper">

    <update id="movePhoto">
        update b_photo set album_id =#{albumId} where id in
        <foreach collection="idList" item="id" open="("  separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
